<section class="heroImage">
  <div class="container-fluid">
    <!-- Navbar -->
        <app-navbar></app-navbar>
    <!-- //heroSection --- warning -->
    <div class="warning row">
      <div class="col-md-5 offset-md-1">
        <h5 class="ml-5"><i class="fa-sharp fa-solid fa-triangle-exclamation"></i> 3 mandatory fields required to complete profile</h5>
      </div>
      <div class="col-md-3 offset-md-3" >
        <p class="profile">Go to <span>My Profile</span> to complete missing information >></p>
      </div>
    </div>

    <div class="jobFairs row">
      <div class="col-md-5 offset-md-1">
        <h3 class="mb-4 mt-3">International Job Fairs</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam incidunt quidem dolores perspiciatis
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis perspiciatis incidunt quidem dolores perspiciatis
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis perspiciatis incidunt quidem dolores perspiciatis perspiciatis
        </p>
      </div>
      <!-- svg -->
      <div class="col-md-6 svgImage">
        <img src="../../../../assets/images/undraw_best_place_re_lne9.svg" alt="">
      </div>
    </div>
  </div>
</section>