<section class="heroImage sectionPadding">
  <div class="container">
    <!-- Navbar -->
    <div class="row mb-2">
      <div class="col-md-10 offset-md-1">
        <app-navbar></app-navbar>
      </div>
    </div>
    <!-- //heroSection --- warning -->
    <div class="warning row">
      <div class="col-md-5 offset-md-1">
        <h6><i class="fa-sharp fa-solid fa-triangle-exclamation"></i> 3 Mandatory fields required to complete profile</h6>
      </div>
      <div class="col-md-6">
        <p>Go to <span>My Profile</span> to complete missing information</p>
      </div>
    </div>

    <div class="jobFairs row">
      <div class="col-md-5 offset-md-1">
        <h3 class="mb-4">International Job Fairs</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam incidunt quidem dolores perspiciatis
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis incidunt quidem dolores perspiciatis
        </p>
      </div>
      <!-- svg -->
      <div class="col-md-6 svgImage">
        <img src="../../../../assets/images/undraw_best_place_re_lne9.svg" alt="">
      </div>
    </div>
  </div>
</section>