<footer class="footer">
  <div class="container-fluid">
    <div class="row p-4">
      <div class="col-md-3 offset-md-1">
        <img src="../../../../assets/images/newheaderlogo.png" alt="" class="logo">
      </div>
      <div class="col-md-3 text-white offset-md-1">
        <p>Data Privacy and Protection. Technical Support</p>
      </div>
      <div class="col-md- offset-md-2">
          <i class="fa-brands fa-square-facebook socialIcon"></i>
          <i class="fa-brands fa-square-twitter socialIcon"></i>
          <i class="fa-brands fa-linkedin socialIcon"></i>
      </div>
    </div>
  </div>
</footer>