.upcomingFairs {
  .card {
    border: none;
    border-radius: 8px;
    // background-image: linear-gradient(180deg,rgba(226, 226, 226, 0.318),rgba(63, 71, 79, 0.821)), url("https://prod-downloads.issapi.info/fairs/62f63b4caa0bf10009d0d86a/candidateBanner/f5d17ff0-60f6-43af-a0ca-ba74518d21b5.png");
    background-position: center;
    background-size: cover;
    line-height: 0.6rem;
    .card-body {
      margin-top: 20%;
    }
    color: white;
    a {
      border: 2px solid $color-button-primary;
      span {
        font-weight: bold;
        color: $color-button-primary
      }
    }
  }
  .fairCards {
    background-color: rgb(244, 244, 244);
    border-radius: 3px;
    padding-top: 10px;
    line-height: 0.2rem;
    cursor: pointer;
    p {
      font-size: $font-size-paragraph;
    }
    img {
      width: 40px;
    }
    &:hover {
      border: 2px solid $color-button-primary;
    }
  }
}